.~*
__pycache__/
*.py[cod]
*.out
.ipynb_checkpoints
.databricks

.editorconfig
.vscode
*.code-workspace

build/
dist/
*.egg-info/

# Ignore any file/dir/symlink starting w/ these names:
TEST*
import*
export*
reference*
img*

# Experimental/test scripts
*_TEST.py
*_TEMP.py
*_TEMP.ipynb

########################################

# Project-specific
logs*/
secret.py
control_params.py
network_names.py
*.db
